<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <rewrite>
      <rewriteMaps>
        <rewriteMap name="ContextHelp" defaultValue="">
          <add key="about" value="about/" />
          <add key="about_requirements" value="about/requirements" />
          <add key="common" value="common-questions/" />
          <add key="common_adware" value="common-questions/adware" />
          <add key="common_bug" value="common-questions/bug" />
          <add key="common_free" value="common-questions/free" />
          <add key="common_keyboards" value="common-questions/keyboards" />
          <add key="common_os" value="common-questions/os" />
          <add key="common_osk" value="common-questions/osk" />
          <add key="common_requirements" value="common-questions/requirements" />
          <add key="common_support" value="common-questions/support" />

          <add key="help" value="help/" />
          <add key="help_configuration" value="help/configuration" />
          <add key="help_uninstall_keyman" value="help/uninstall-keyman" />

          <add key="index" value="." />
          <add key="start_download-install_keyboard" value="start/install-keyboard" />
          <add key="start_download-install_keyman" value="start/install-keyman" />
          <add key="start_tutorial" value="start/tutorial" />
          <add key="start" value="start/" />
        </rewriteMap>
      </rewriteMaps>
      <rules>
        <rule name="Docs Mappings" stopProcessing="true">
          <match url="docs/(.*)\.php$" />
          <conditions>
            <add input="{ContextHelp:{R:1}}" pattern="(.+)" />
          </conditions>
          <action type="Redirect" url="{C:1}" />
        </rule>
        <rule name="Docs Index" stopProcessing="true">
          <match url="^docs" />
          <action type="Redirect" url="index" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>