.token.atrule { font-weight: bold; }
/*
.token.prefix { color: blue; }
.token.systemstore { font-weight: bold; }
.token.keymanheader { font-weight: bold; }
.token.structure { font-weight: bold; color: #07a; }
.token.virtualkey { color: #70a; }
*/