<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect unversioned paths to current stable path">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{URL}" pattern="(2|10|11|12)\.0(\/)?" negate="true" />
                    </conditions>
                    <action type="Redirect" url="11.0/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
