<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="docs/images -> images" stopProcessing="true"> 
                    <match url="^(.*/)(docs/images/)(.*)$" ignoreCase="true"/> 
                    <action type="Redirect" url="{R:1}images/{R:3}" />
                </rule>
                
                <rule name="images -> 10.0/images" stopProcessing="true"> 
                    <match url="^(images)\b(.*)$" ignoreCase="true"/> 
                    <action type="Redirect" url="/products/mac/10.0/{R:1}{R:2}" />
                </rule>
                
                <rule name="Redirect -> version 10.0">
                    <match url="^([^/.]+)?$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                      <add input="{URL}" pattern="(version-history|\d+\.\d+)(\/)?" negate="true" />
                    </conditions>
                    <action type="Redirect" url="/products/mac/10.0/docs/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
