<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect version to index">
                  <match url="^version(.+).php" />
                  <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                  <action type="Redirect" url="./" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
