.DS_Store
**/.DS_Store
.idea/
cdn/deploy
vendor*
.vscode/
node_modules/

# Shared files are bootstrapped:
resources/bootstrap.inc.sh
resources/.bootstrap-version
_common/

# State files
_control/debug

# Cache of keyboard metadata, deleted on site rebuild
keyboard/index.cache