<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/_includes/errors/404.php" responseMode="ExecuteURL" />
        </httpErrors>

        <rewrite>
            <rules>
                <rule name="Redirect http://help.keyman.com to https://help.keyman.com" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />
                        
                        <!-- Redirect only if on a live site - help.keyman.com -->
                        <add input="{HTTP_HOST}" pattern="^help\.keyman\.com$" ignoreCase="true" />
                        
                        <!-- Redirect unless matching /.well-known/ for Let's Encrypt -->
                        <add input="{REQUEST_URI}" pattern="^/.well-known/(.*)$" negate="true" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://help.keyman.com{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
                </rule>
                
                
            </rules>
            
            <!-- we'll enable this once we are sure that https is working well
            <outboundRules>
                <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
                    <match serverVariable="RESPONSE_Strict_Transport_Security"
                        pattern=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="on" ignoreCase="true" />
                    </conditions>
                    <action type="Rewrite" value="max-age=31536000" />
                </rule>
            </outboundRules>    
-->            
        </rewrite>

    </system.webServer>
</configuration>