<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <httpErrors>
            <remove statusCode="404" subStatusCode="-1" />
            <error statusCode="404" prefixLanguageFilePath="" path="/_includes/errors/404.php" responseMode="ExecuteURL" />
        </httpErrors>

        <rewrite>
            <rules>
                <rule name="Redirect http://help.keyman.com to https://help.keyman.com" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="off" ignoreCase="true" />

                        <!-- Redirect only if on a live site - help.keyman.com -->
                        <add input="{HTTP_HOST}" pattern="^help\.keyman\.com$" ignoreCase="true" />

                        <!-- Redirect unless matching /.well-known/ for Let's Encrypt -->
                        <add input="{REQUEST_URI}" pattern="^/.well-known/(.*)$" negate="true" ignoreCase="true" />
                    </conditions>
                    <action type="Redirect" url="https://help.keyman.com{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
                </rule>

                <!--
                  current-version: these rules automatically redirect /foo/current-version to the
                  newest version of the documentation under /foo, e.g. 13.0, /foo/13.0, and fall
                  back to previous versions if no newer version is available. When we release a
                  new version, we need to add in the rule for that version. 10.0 is the oldest
                  version which falls under this pattern.
                -->

                <rule name="current-version:13.0">
                    <match url="^(.+)/current-version(/.*|$)" />
                    <conditions>
                      <add matchType="IsDirectory" input="{DOCUMENT_ROOT}/{R:1}/13.0" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}/13.0{R:2}" />
                </rule>

                <rule name="current-version:12.0">
                    <match url="^(.+)/current-version(/.*|$)" />
                    <conditions>
                      <add matchType="IsDirectory" input="{DOCUMENT_ROOT}/{R:1}/12.0" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}/12.0{R:2}" />
                </rule>

                <rule name="current-version:11.0">
                    <match url="^(.+)/current-version(/.*|$)" />
                    <conditions>
                      <add matchType="IsDirectory" input="{DOCUMENT_ROOT}/{R:1}/11.0" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}/11.0{R:2}" />
                </rule>

                <rule name="current-version:10.0">
                    <match url="^(.+)/current-version(/.*|$)" />
                    <conditions>
                      <add matchType="IsDirectory" input="{DOCUMENT_ROOT}/{R:1}/10.0" />
                    </conditions>
                    <action type="Rewrite" url="{R:1}/10.0{R:2}" />
                </rule>

                <!-- PHP and Markdown rewriting -->

                <rule name="Remove index or index.php and redirect" stopProcessing="true">
                  <match url="((.+)/)?index(\.php)?$" />
                  <action type="Redirect" url="{R:1}" />
                </rule>

                <rule name="Remove .php extension and redirect" stopProcessing="true">
                  <match url="^(.+)\.php$" />
                  <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    <add matchType="IsFile" />
                  </conditions>
                  <action type="Redirect" url="{R:1}" />
                </rule>

                <rule name="Rewrite file to file.md" stopProcessing="true">
                  <match url="^(.+)$" />
                  <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    <add matchType="IsFile" input="{DOCUMENT_ROOT}/{R:1}.md" />
                  </conditions>
                  <action type="Rewrite" url="/_includes/md/mdhost.php?file={R:1}.md" />
                </rule>

                <rule name="Rewrite file to file.php" stopProcessing="true">
                  <match url="^(.+)$" />
                  <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    <add matchType="IsFile" input="{DOCUMENT_ROOT}/{R:1}.php" />
                  </conditions>
                  <action type="Rewrite" url="{R:1}.php" />
                </rule>

                <rule name="Redirect folder without / to include /" stopProcessing="true">
                  <match url="^(.+[^/])$" />
                  <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    <add matchType="IsDirectory" />
                  </conditions>
                  <action type="Redirect" url="{R:1}/" />
                </rule>

                <rule name="Rewrite folder/ to folder/index.md" stopProcessing="true">
                  <match url="^(.+)/$" />
                  <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    <add matchType="IsFile" input="{DOCUMENT_ROOT}/{R:1}/index.md" />
                  </conditions>
                  <action type="Rewrite" url="/_includes/md/mdhost.php?file={R:1}/index.md" />
                </rule>

                <rule name="Rewrite folder/ to folder/index.php" stopProcessing="true">
                  <match url="^(.+)/$" />
                  <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    <add matchType="IsFile" input="{DOCUMENT_ROOT}/{R:1}/index.php" />
                  </conditions>
                  <action type="Rewrite" url="{R:1}/index.php" />
                </rule>

                <!-- Static redirection -->

                <rule name="staticRewrites">
                    <match url=".*" />
                    <conditions>
                        <add input="{StaticRewrites:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="Redirect" url="{C:1}" />
                </rule>
            </rules>

            <rewriteMaps>
                <rewriteMap name="staticRewrites" defaultValue="">
                    <add key="/desktop" value="/products/desktop" />
                    <add key="/windows" value="/products/desktop" />
                    <add key="/products/windows" value="/products/desktop" />

                    <add key="/android" value="/products/android" />

                    <add key="/ipad" value="/products/iphone-and-ipad" />
                    <add key="/iphone" value="/products/iphone-and-ipad" />
                    <add key="/iphone-and-ipad" value="/products/iphone-and-ipad" />
                    <add key="/ios" value="/products/iphone-and-ipad" />
                    <add key="/products/ipad" value="/products/iphone-and-ipad" />
                    <add key="/products/iphone" value="/products/iphone-and-ipad" />
                    <add key="/products/ios" value="/products/iphone-and-ipad" />

                    <add key="/linux" value="/products/linux" />
                    <add key="/debian" value="/products/linux" />
                    <add key="/ubuntu" value="/products/linux" />

                    <add key="/mac" value="/products/mac" />
                    <add key="/macos" value="/products/mac" />
                    <add key="/macosx" value="/products/mac" />
                    <add key="/products/macos" value="/products/mac" />
                    <add key="/products/macosx" value="/products/mac" />

                    <add key="/web" value="/products/web" />
                    <add key="/keymanweb" value="/products/web" />
                    <add key="/products/keymanweb" value="/products/web" />

                    <add key="/bookmarklet" value="/products/bookmarklet" />
                </rewriteMap>
            </rewriteMaps>


            <!-- we'll enable this once we are sure that https is working well
            <outboundRules>
                <rule name="Add Strict-Transport-Security when HTTPS" enabled="true">
                    <match serverVariable="RESPONSE_Strict_Transport_Security"
                        pattern=".*" />
                    <conditions>
                        <add input="{HTTPS}" pattern="on" ignoreCase="true" />
                    </conditions>
                    <action type="Rewrite" value="max-age=31536000" />
                </rule>
            </outboundRules>
-->
        </rewrite>

    </system.webServer>
</configuration>