<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect unversioned paths to current-version/ path">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{URL}" pattern="(current-version|version-history|\d+\.\d+)(\/)?" negate="true" />
                    </conditions>
                    <action type="Redirect" url="current-version/docs/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
