<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect desktop to windows">
                    <match url="(.*)" />
                    <action type="Redirect" url="/products/windows/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
