<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect 14.0+ history">
                    <match url="(14)\.0/main/history(\/)?" />
                    <action type="Redirect" url="version-history" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
