<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
      <rewrite>
        <rules>
          <rule name="Redirect to kb handler" stopProcessing="true">
            <match url="^(\d+)$" />
            <action type="Rewrite" url="/knowledge-base/index.php?id={R:1}" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
</configuration>
