<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect index.php -> empty">
                  <match url="^((.+)\/)?index.php$" />
                  <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                  <action type="Redirect" url="{R:1}." />
                </rule>

                <rule name="Redirect .php to bare">
                  <match url="^(.+)\.php$" />
                  <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    <add matchType='IsFile' />
                  </conditions>
                  <action type="Redirect" url="{R:1}" />
                </rule>

                <rule name="Rewrite empty" stopProcessing="true">
                  <match url="^(.+)\/$" />
                  <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                  <action type="Rewrite" url="{R:1}\index.php" />
                </rule>

                <rule name="Is a folder" stopProcessing="true">
                  <match url="^(.+)$" />
                  <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    <add matchType="IsDirectory" />
                  </conditions>
                  <action type="Redirect" url="{R:1}/" />
                </rule>

                <rule name="File exists" stopProcessing="true">
                  <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    <add matchType="IsFile" />
                  </conditions>
                </rule>
                
                <rule name="Rewrite .php">
                  <match url="^(.+)$" />
                  <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                  <action type="Rewrite" url="{R:1}.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
