<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect legacy /content/ paths to corresponding subfolder." stopProcessing="true">
                    <match url="^content(\/)?(.*)" />
                    <action type="Redirect" url="2.0/{R:2}" />
                </rule>
                <rule name="Redirect unversioned paths to current-version/ path">
                    <match url="^(.*)" />
                    <conditions>
                        <add input="{URL}" pattern="(faq|history|current-version|\d+\.\d+)(\/)?" negate="true" />
                    </conditions>
                    <action type="Redirect" url="current-version/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
