<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="index" stopProcessing="true">
                  <match url="^index.php$" />
                  <action type="None" />
                </rule>

                <rule name="Rewrite /keyboard/[name][/] to /keyboard/redir.php?q=[name]" stopProcessing="true">
                    <match url="^([^/?]+)(/)?$" />
                    <conditions>
                      <!-- only if index.php does not exist in the folder -->
                      <add input="{DOCUMENT_ROOT}\keyboard\{R:1}\index.php" matchType="IsFile" negate="true"/>
                    </conditions>
                    <action type="Rewrite" url="redir.php?q={R:1}" />
                </rule>

                <rule name="Rewrite /keyboard/[name]/[version][/] to /keyboard/redir.php?q=[name]&amp;v=[version]" stopProcessing="true">
                    <match url="^([^/?]+)/([^/?]+)(/)?$" />
                    <conditions>
                      <!-- only if index.php does not exist in the folder -->
                      <add input="{DOCUMENT_ROOT}\keyboard\{R:1}\{R:2}\index.php" matchType="IsFile" negate="true"/>
                    </conditions>
                    <action type="Rewrite" url="redir.php?q={R:1}&amp;v={R:2}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
