<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
      <rewrite>
        <rules>
          <rule name="Redirect to knowledge-base" stopProcessing="true">
            <match url="^(.*)$" />
            <action type="Redirect" url="/knowledge-base/{R:1}" />
          </rule>
        </rules>
      </rewrite>
    </system.webServer>
</configuration>
