<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
      <rewrite>
        <rules>
          <rule name="cloudexchange" stopProcessing="true">
            <match url="(\d+)" />
            <action type="Redirect" url="https://secure.tavultesoft.com/kb/?id={R:1}" />
          </rule>        
        </rules>
      </rewrite>
    </system.webServer>
</configuration>
