<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect -> iphone-and-ipad" stopProcessing="true">
                    <match url="^(ios|ipad|iphone(?!-and-ipad)){1}(\/(.*))?$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/products/iphone-and-ipad/{R:2}" />
                </rule>

                <rule name="Redirect -> mac" stopProcessing="true">
                    <match url="^macos(x)?(\/(.*))?$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="/products/mac/{R:2}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
