<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- no pages currently reference these two but will allow for future automatic re-versioning links in docs -->
                <rule name="Redirect how-to-test-your-keyboard-layout-with-keyman-developer-10-touch-and-desktop">
                    <match url="^how-to-test-your-keyboard-layout-with-keyman-developer-10-touch-and-desktop" />
                    <action type="Redirect" url="keyboard-touch-and-desktop" />
                </rule>
            </rules>
            <rules>
                <rule name="Redirect how-to-test-your-touch-layout-in-the-google-chrome-mobile-emulator">
                    <match url="^how-to-test-your-touch-layout-in-the-google-chrome-mobile-emulator" />
                    <action type="Redirect" url="keyboard-touch-mobile-emulator" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
