<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect -> /products/linux">
                  <match url="^(.+)?$" />
                  <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                  <action type="Redirect" url="/products/linux/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
