<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect unversioned paths to 'stable' path">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{URL}" pattern="(version-history|\d+\.\d+)(\/)?" negate="true" />
                    </conditions>
                    <action type="Redirect" url="11.0/{R:1}" />
                </rule>
                <rule name="Redirect current alpha (or beta, pre-help seeding) version links to the most current (beta/stable) path">
                    <match url="13\.0/(.*)" />
                    <action type="Redirect" url="12.0/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
