<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rewriteMaps>
                <rewriteMap name="ContextHelp" defaultValue="">
                    <!-- Rewrite public links for docs/help from Keyman Developer and external sources -->

                    <add key="index.php" value="./" />
                    
                    <!-- Contextual help -->
                
                    <add key="context.php" value="context/" />
                    <add key="context_frmAbout.php" value="context/about-tike" />
                    <add key="context_frmActivation.php" value="context/activation" />
                    <add key="context_frmActivationModules.php" value="context/activation-modules" />
                    <add key="context_frmCharacterMapNew.php" value="context/character-map" />
                    <add key="context_frmDebug.php" value="context/debug" />
                    <add key="context_frmDebugStatus.php" value="context/debug" />
                    <add key="context_frmEditor.php" value="context/editor" />
                    <add key="context_frmInstallerEditor.php" value="context/installer-editor" />
                    <add key="context_frmKCTMain.php" value="context/branding-editor" />
                    <add key="context_frmKeymanDeveloper.php" value="context/keyman-developer" />
                    <add key="context_frmKeymanWizard.php" value="context/keyboard-editor" />
                    <add key="context_frmkeymanwizard_layout.php" value="context/keyboard-editor" />
                    <add key="context_frmkeymanwizard_source.php" value="context/keyboard-editor" />
                    <add key="context_frmKeyTest.php" value="context/key-test" />
                    <add key="context_frmMessages.php" value="context/messages" />
                    <add key="context_frmNew.php" value="context/new" />
                    <add key="context_frmOptions.php" value="context/options" />
                    <add key="context_frmOSKEditor.php" value="context/keyboard-editor" />
                    <add key="context_frmPackageEditor.php" value="context/package-editor" />
                    <add key="context_frmProject.php" value="context/project" />
                    <add key="context_frmStartup.php" value="context/startup" />
                    <add key="context_kmcomp.php" value="context/kmcomp" />                
                    
                    <!-- File Types -->
                    
                    <add key="filetype.php" value="reference/file-types/" />
                    <add key="filetype_ico.php" value="reference/file-types/ico" />
                    <add key="filetype_kct.php" value="reference/file-types/kct" />
                    <add key="filetype_kmn.php" value="reference/file-types/kmn" />
                    <add key="filetype_kmp.php" value="reference/file-types/kmp" />
                    <add key="filetype_kmx.php" value="reference/file-types/kmx" />
                    <add key="filetype_kpj.php" value="reference/file-types/kpj" />
                    <add key="filetype_kpp.php" value="reference/file-types/kpp" />
                    <add key="filetype_kps.php" value="reference/file-types/kps" />
                    <add key="filetype_kvk.php" value="reference/file-types/kvk" />
                    <add key="filetype_kxx.php" value="reference/file-types/kxx" />
                    <add key="filetype_pxx.php" value="reference/file-types/pxx" />
                    
                    <!-- Tutorials -->

                    <add key="tutorial_keyboard.php" value="guides/develop/tutorial/" />
                    <add key="tutorial_package.php" value="guides/distribute/tutorial/" />
                    <add key="tutorial_distribution.php" value="../engine/desktop/tutorials/distribution/" />
                    <add key="tutorial_product.php" value="../engine/desktop/tutorials/branding/" />
                    <add key="tutorial_branding.php" value="../engine/desktop/tutorials/branding/" />
                    
                    <!-- Reference Documentation -->

                    <add key="reference.php" value="../language/" />
                    <add key="reference__keywordsbytype.php" value="../language/reference/_keywordsbytype" />
                    <add key="reference__struct_comments.php" value="../language/guide/comments" />
                </rewriteMap>
            </rewriteMaps>
            <rules>
                <clear />
                
                <rule name="Docs Mappings" stopProcessing="true">
                  <match url="^docs/(.*)$" />
                  <conditions>
                    <add input="{ContextHelp:{R:1}}" pattern="(.+)" />
                  </conditions>
                  <action type="Redirect" url="{C:1}" />
                </rule>

                <rule name="Reference Keywords" stopProcessing="true">
                  <match url="^docs/reference_(.*)\.php$" />
                  <action type="Redirect" url="../language/reference/{R:1}" />
                </rule>

                <rule name="Redirect (the) google chrome mobile emulator guide" stopProcessing="true">
                    <match url="^guides/test/how-to-test-your-touch-layout-in-google-chrome-mobile-emulator" />
                    <action type="Redirect" url="guides/test/how-to-test-your-touch-layout-in-the-google-chrome-mobile-emulator" />
                </rule>

                <rule name="Redirect distribute guide" stopProcessing="true">
                    <match url="^distribute/(.*)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Redirect" url="guides/distribute/{R:1}" />
                </rule>
                
                <rule name="Ignore .php extension">
                  <match url="^(.+)\.php$" />
                  <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    <add matchType="IsFile" />
                  </conditions>
                  <action type="Redirect" url="{R:1}" />
                </rule>
                                
                <rule name="Ignore folders" stopProcessing="true">
                  <match url="^(.+)/$" />
                  <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                  <action type="Rewrite" url="{R:1}/index.php" />
                </rule>  

                <rule name="Is a folder" stopProcessing="true">
                  <match url="^(.+)$" />
                  <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                    <add matchType="IsDirectory" />
                  </conditions>
                  <action type="Redirect" url="{R:1}/" />
                </rule>
                                
                <rule name="Add .php extension">
                  <match url="^(.+)$" />
                  <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                  <action type="Rewrite" url="{R:1}.php" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>