<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <!-- no pages currently reference this but will allow for future automatic re-versioning links in docs -->
                <rule name="Redirect creating-a-touch-keyboard-layout-for-amharic-with-keyman-developer-10">
                    <match url="^creating-a-touch-keyboard-layout-for-amharic-with-keyman-developer-10" />
                    <action type="Redirect" url="creating-a-touch-keyboard-layout-for-amharic" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
