<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Redirect unversioned paths to 12.0/ path">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{URL}" pattern="(version-history|\d+\.\d+)(\/)?" negate="true" />
                    </conditions>
                    <action type="Redirect" url="12.0/{R:1}" />
                </rule>

                <rule name="Ignore .php extension">
                    <match url="^(.+)\.php$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add matchType="IsFile" />
                    </conditions>
                    <action type="Redirect" url="{R:1}" />
                </rule>

                <rule name="Ignore folders" stopProcessing="true">
                    <match url="^(.+)/$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false" />
                    <action type="Rewrite" url="{R:1}/index.php" />
                </rule>

                <rule name="Is a folder" stopProcessing="true">
                    <match url="^(.+)$" />
                    <conditions logicalGrouping="MatchAll" trackAllCaptures="false">
                        <add matchType="IsDirectory" />
                    </conditions>
                    <action type="Redirect" url="{R:1}/" />
                </rule>

            </rules>
        </rewrite>
    </system.webServer>
</configuration>
